In [1]:
import pandas as pd
import numpy as np
import math
import sys
sys.path.append('../')

In [2]:
df = pd.read_csv("data/series_matrix/gse2034_series_matrix.csv")

In [3]:
df.head()

,ID_REF,GSM36777,GSM36778,GSM36779,GSM36780,GSM36781,GSM36782,GSM36783,GSM36784,GSM36785,...,GSM37053,GSM37054,GSM37055,GSM37056,GSM37057,GSM37058,GSM37059,GSM37060,GSM37061,GSM37062
0,1007_s_at,3848.1,6520.9,5285.7,4043.7,4263.6,2949.8,5498.9,3863.1,3370.4,...,4058.2,4017.6,2841.0,2914.2,3681.0,3066.9,2773.0,2984.3,3540.0,2620.0
1,1053_at,228.9,112.5,178.4,398.7,417.7,221.2,280.4,198.2,304.7,...,183.4,356.1,234.6,169.4,94.5,265.5,209.8,160.0,285.7,180.5
2,117_at,213.1,189.8,269.7,312.4,327.1,225.0,243.5,244.4,348.5,...,326.6,234.9,369.6,149.5,236.4,347.9,226.7,252.9,135.1,191.8
3,121_at,1009.4,2083.3,1203.4,1104.4,1043.3,1117.6,1085.4,1423.1,1196.4,...,1041.3,1195.6,751.5,1117.8,1022.4,1127.4,1071.8,1178.5,1256.7,1284.6
4,1255_g_at,31.8,145.8,42.5,108.2,69.2,47.4,84.3,102.0,22.8,...,143.5,32.7,62.6,43.0,100.5,47.0,45.1,146.3,75.9,87.4

In [4]:
for x in df.columns[1:]:
    list_  = []
    for y in list(df[x]):
        list_.append(math.log2(float(y)))
    df[x] = list_
df.head()

,ID_REF,GSM36777,GSM36778,GSM36779,GSM36780,GSM36781,GSM36782,GSM36783,GSM36784,GSM36785,...,GSM37053,GSM37054,GSM37055,GSM37056,GSM37057,GSM37058,GSM37059,GSM37060,GSM37061,GSM37062
0,1007_s_at,11.909931,12.670855,12.367879,11.981460,12.057856,11.526401,12.424927,11.915543,11.718704,...,11.986624,11.972118,11.472183,11.508884,11.845882,11.582565,11.437232,11.543177,11.789534,11.355351
1,1053_at,7.838574,6.813781,7.478972,8.639160,8.706323,7.789208,8.131343,7.630813,8.251246,...,7.518850,8.476139,7.874059,7.404290,6.562242,8.052568,7.712871,7.321928,8.158357,7.495855
2,117_at,7.735387,7.568336,8.075212,8.287251,8.353588,7.813781,7.927778,7.933100,8.445015,...,8.351381,7.875903,8.529821,7.224002,7.885086,8.442529,7.824641,7.982423,7.077884,7.583459
3,121_at,9.979282,11.024655,10.232901,10.109047,10.026938,10.126188,10.084011,10.474821,10.224484,...,10.024170,10.223519,9.553629,10.126446,9.997744,10.138784,10.065820,10.202736,10.295425,10.327103
4,1255_g_at,4.990955,7.187847,5.409391,6.757557,6.112700,5.566815,6.397461,6.672425,4.510962,...,7.164907,5.031219,5.968091,5.426265,6.651052,5.554589,5.495056,7.192786,6.246028,6.449561

In [5]:
df.to_csv("data/series_matrix/gse2034_series_matrix_log2.csv")