In [1]:
import pandas as pd
import numpy as np

In [2]:
table_names = [
    "gse1456_series_matrix",
    "gse2034_series_matrix",
    "gse2990_series_matrix",
    "gse3494_series_matrix",
    "gse4922_series_matrix",
    "gse7390_series_matrix",
    "e-tabm-158_series_matrix",]

In [3]:
 gse1456 = pd.read_csv("series_matrix/"+table_names[0]+".csv")

In [4]:
 gse2034 = pd.read_csv("series_matrix/"+table_names[1]+".csv")

In [5]:
 gse2990 = pd.read_csv("series_matrix/"+table_names[2]+".csv")

In [6]:
 gse3494 = pd.read_csv("series_matrix/"+table_names[3]+".csv")

In [7]:
 gse4922 = pd.read_csv("series_matrix/"+table_names[4]+".csv")

In [8]:
 gse7390 = pd.read_csv("series_matrix/"+table_names[5]+".csv")

In [9]:
e_tabm = pd.read_csv("series_matrix/"+table_names[6]+".csv")

In [10]:
merged_inner = pd.merge(left=gse1456,right=gse2034, left_on='ID_REF', right_on='ID_REF')

In [11]:
merged_inner.head()

,ID_REF,GSM107072,GSM107073,GSM107074,GSM107075,GSM107076,GSM107077,GSM107078,GSM107079,GSM107080,...,GSM37053,GSM37054,GSM37055,GSM37056,GSM37057,GSM37058,GSM37059,GSM37060,GSM37061,GSM37062
0,1007_s_at,8.936222,9.127841,9.277649,9.100607,9.072174,9.694112,8.965544,9.157924,8.766354,...,4058.2,4017.6,2841.0,2914.2,3681.0,3066.9,2773.0,2984.3,3540.0,2620.0
1,1053_at,6.065584,6.807857,6.093245,5.687522,6.116815,5.656566,6.196974,6.207242,6.208822,...,183.4,356.1,234.6,169.4,94.5,265.5,209.8,160.0,285.7,180.5
2,117_at,6.436126,6.554243,6.186594,5.952927,6.622426,6.626264,6.593130,6.393989,5.829035,...,326.6,234.9,369.6,149.5,236.4,347.9,226.7,252.9,135.1,191.8
3,121_at,8.054085,8.308390,8.270896,8.069885,8.019180,8.170112,8.120518,8.136754,8.309964,...,1041.3,1195.6,751.5,1117.8,1022.4,1127.4,1071.8,1178.5,1256.7,1284.6
4,1255_g_at,5.226878,5.266029,5.694295,4.927552,4.871362,4.973852,5.587933,5.209231,4.729894,...,143.5,32.7,62.6,43.0,100.5,47.0,45.1,146.3,75.9,87.4

In [12]:
gse1456.shape

(22283, 160)

In [13]:
gse2034.shape

(22283, 287)

In [14]:
gse2990.shape

(22283, 190)

In [15]:
gse3494.shape

(22283, 252)

In [16]:
gse4922.shape

(22283, 290)

In [17]:
gse7390.shape

(22283, 199)

In [18]:
e_tabm.shape

(22215, 119)

In [19]:
merged_inner = pd.merge(left=merged_inner,right=gse2990, left_on='ID_REF', right_on='ID_REF')

In [20]:
merged_inner.shape

(22283, 635)

In [21]:
merged_inner = pd.merge(left=merged_inner,right=gse3494, left_on='ID_REF', right_on='ID_REF')

In [22]:
merged_inner = pd.merge(left=merged_inner,right=gse4922, left_on='ID_REF', right_on='ID_REF')

In [23]:
merged_inner = pd.merge(left=merged_inner,right=gse7390, left_on='ID_REF', right_on='ID_REF')

In [24]:
# for x in range(0,68,1):
#     merged_inner = merged_inner.drop(merged_inner.shape[0]-1)

In [25]:
# merged_inner.to_csv("merged.csv",index=False)

In [26]:
# merged_inner = pd.read_csv("merged.csv")

In [27]:
merged_inner = pd.merge(left=merged_inner,right=e_tabm, left_on='ID_REF', right_on='ID_REF')

In [28]:
merged_inner.shape

(22215, 1491)

In [29]:
merged_inner.to_csv("combined_series_matrix.csv",index=False)