In [2]:
import mysql.connector
import pandas as pd
import numpy as np
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="data"
)
mycursor = mydb.cursor()
table_names = [
    "e-tabm-158_series_matrix",
    "gse1456_series_matrix",
    "gse2034_series_matrix",
    "gse2990_series_matrix",
    "gse3494_series_matrix",
    "gse4922_series_matrix",
    "gse7390_series_matrix"]
for table_name in table_names:
    df = pd.read_csv("series_matrix/"+table_name+".csv")
    mycursor.execute("DROP TABLE IF EXISTS `"+table_name+"`;")
    sql = "CREATE TABLE `"+table_name+"` ("
    count = 1
    columns = "("
    for x in df.columns:
        if count!= len(list(df.columns)) :
            sql += "`"+x + "` VARCHAR(20),"
            columns += "`"+x + "`,"
        else:
            sql += "`"+x + "` VARCHAR(20)"
            columns += "`"+x + "`)"
        count+=1
    sql += ")"
    mycursor.execute(sql)
    no_of_rows = 1
    for x in df.iterrows():
        insert = "INSERT INTO `"+table_name+"` "+columns+" VALUES ("
        count = 1
        for y in x[1]:
            if count != len(list(x[1])):
                insert += "\""+str(y)+"\","
            else:
                insert += "\""+str(y)+"\""
            count+=1
        insert += ")"

        mycursor.execute(insert)
        no_of_rows +=1
    mydb.commit()
    print(table_name+" : "+ str(no_of_rows))

e-tabm-158_series_matrix : 22216
gse1456_series_matrix : 22284
gse2034_series_matrix : 22284
gse2990_series_matrix : 22284
gse3494_series_matrix : 22284
gse4922_series_matrix : 22284
gse7390_series_matrix : 22284