In [1]:
import pandas as pd
import numpy as np
import sys
sys.path.append('../')

In [2]:
table_names = [
    "gse1456_series_matrix",
    "gse2034_series_matrix_log2",
    "gse2990_series_matrix",
    "gse3494_series_matrix",
    "gse4922_series_matrix",
    "gse7390_series_matrix",
    "e-tabm-158_series_matrix_hyb_removed",]
path = "data/series_matrix/"

In [3]:
 gse1456 = pd.read_csv(path+table_names[0]+".csv")

In [4]:
 gse2034 = pd.read_csv(path+table_names[1]+".csv")

In [5]:
 gse2990 = pd.read_csv(path+table_names[2]+".csv")

In [6]:
 gse3494 = pd.read_csv(path+table_names[3]+".csv")

In [7]:
 gse4922 = pd.read_csv(path+table_names[4]+".csv")

In [8]:
 gse7390 = pd.read_csv(path+table_names[5]+".csv")

In [9]:
e_tabm = pd.read_csv(path+table_names[6]+".csv")

In [10]:
merged_inner = pd.merge(left=gse1456,right=gse2034, left_on='ID_REF', right_on='ID_REF')

In [11]:
merged_inner.head()

,ID_REF,GSM107072,GSM107073,GSM107074,GSM107075,GSM107076,GSM107077,GSM107078,GSM107079,GSM107080,...,GSM37053,GSM37054,GSM37055,GSM37056,GSM37057,GSM37058,GSM37059,GSM37060,GSM37061,GSM37062
0,1007_s_at,8.936222,9.127841,9.277649,9.100607,9.072174,9.694112,8.965544,9.157924,8.766354,...,11.986624,11.972118,11.472183,11.508884,11.845882,11.582565,11.437232,11.543177,11.789534,11.355351
1,1053_at,6.065584,6.807857,6.093245,5.687522,6.116815,5.656566,6.196974,6.207242,6.208822,...,7.518850,8.476139,7.874059,7.404290,6.562242,8.052568,7.712871,7.321928,8.158357,7.495855
2,117_at,6.436126,6.554243,6.186594,5.952927,6.622426,6.626264,6.593130,6.393989,5.829035,...,8.351381,7.875903,8.529821,7.224002,7.885086,8.442529,7.824641,7.982423,7.077884,7.583459
3,121_at,8.054085,8.308390,8.270896,8.069885,8.019180,8.170112,8.120518,8.136754,8.309964,...,10.024170,10.223519,9.553629,10.126446,9.997744,10.138784,10.065820,10.202736,10.295425,10.327103
4,1255_g_at,5.226878,5.266029,5.694295,4.927552,4.871362,4.973852,5.587933,5.209231,4.729894,...,7.164907,5.031219,5.968091,5.426265,6.651052,5.554589,5.495056,7.192786,6.246028,6.449561

In [12]:
gse1456.shape

(22283, 160)

In [13]:
gse2034.shape

(22283, 288)

In [14]:
gse2990.shape

(22283, 190)

In [15]:
gse3494.shape

(22283, 252)

In [16]:
gse4922.shape

(22283, 290)

In [17]:
gse7390.shape

(22283, 199)

In [18]:
e_tabm.shape

(22215, 120)

In [19]:
merged_inner = pd.merge(left=merged_inner,right=gse2990, left_on='ID_REF', right_on='ID_REF')

In [20]:
merged_inner.shape

(22283, 636)

In [21]:
merged_inner = pd.merge(left=merged_inner,right=gse3494, left_on='ID_REF', right_on='ID_REF')

In [22]:
merged_inner = pd.merge(left=merged_inner,right=gse4922, left_on='ID_REF', right_on='ID_REF')

In [23]:
merged_inner = pd.merge(left=merged_inner,right=gse7390, left_on='ID_REF', right_on='ID_REF')

In [24]:
# for x in range(0,68,1):
#     merged_inner = merged_inner.drop(merged_inner.shape[0]-1)

In [25]:
# merged_inner.to_csv("merged.csv",index=False)

In [26]:
# merged_inner = pd.read_csv("merged.csv")

In [27]:
merged_inner = pd.merge(left=merged_inner,right=e_tabm, left_on='ID_REF', right_on='ID_REF')

In [28]:
merged_inner.shape

(22215, 1493)

In [29]:
merged_inner.to_csv("data/combined_series_matrix.csv",index=False)